.hero {
  height: 80vh;
  min-height: 35rem;
  background-color: purple;
}

.icon-holder {
}

.icon {
}

.text-image {
}

.animal-image {
}

.animal-image__one {
}

.animal-image__two {
}

.animal-image__three {
}
